body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{text-align: center;}
h1{color: rgb(68, 0, 255);}
#in1,#btnAdd{border-radius: 5px;}
#btnAdd{background-color: rgb(68, 0, 255);}
#in1:hover{background-color: rgba(75, 33, 192, 0.596);}
#btnRemove{background-color: magenta;
border-radius: 5px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.todo {
  cursor: pointer;
}
.strike {
  text-decoration: line-through;
}
